{% extends 'base.html' %}

{% block home_button %}
    <form action="{% url 'Accounts:register' %}" method="GET">
        <button type="submit" class="btn btn-primary">
            Register
        </button>
    </form>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Login Page</h1>
        <form class="site-form" action="{% url 'Accounts:login' %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
              <label for="user_type" class="col-sm-2 col-form-label">{{ form.username.label }}</label>
              <div class="col-sm-10">
                {{ form.username }}
              </div>
            </div>
            <div class="row mb-3">
              <label for="user_type" class="col-sm-2 col-form-label">{{ form.password.label }}</label>
              <div class="col-sm-10">
                {{ form.password }}
              </div>
            </div>
            {{ form.non_field_errors }}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}