{% extends 'home.html' %}

{% block content %}
	<div class="container">
		<!-- Title -->
		<h1>{{ request.user.user_type|title }} home</h1>
    <form class="site-form" action="" method="get">
      {% include "search_bar.html" %}
      {% include "admin_search_checkbox.html" %}
    </form>
    <div style="display: inline-block; text-align: right;">
      <a href="{% url 'create_user' %}" class="btn btn-primary icon-button">
        <span class="material-icons">person_add</span>
      </a>
    </div>
    {% include "user_table.html" with admin=True %}
	</div>
{% endblock %}

{% block script %}
  {% load static %}
	<script src="{% static 'sort_table_column.js' %}"></script>
{% endblock %}
