{% extends 'home.html' %}

{% block content %}
	<div class="container">
		<!-- Title -->
		<h1>Admin home</h1>
		<form class="site-form" action="" method="get">
			<input type="search" placeholder="Search..." name="search_query"
				{% if search_query %}
					value="{{ search_query }}"
				{% endif %}
			required>
			<button type="submit" class="btn btn-success icon-button">
				<span class="material-icons">search</span>
			</button>
			<a href="{% url 'admin_home' %}" class="btn btn-secondary
				{% if not search_query %}
					disabled
				{% endif %}
			">Reset Search</a>
			<p>
				<input type="checkbox" id="id_checkbox" name="id_checkbox"
					{% if id_checkbox %}
						checked
					{% endif %}>
				<label for="id_checkbox">ID</label>
				<input type="checkbox" id="email_checkbox" name="email_checkbox"
					{% if email_checkbox %}
						checked
					{% endif %}>
				<label for="email_checkbox">Email</label>
				<input type="checkbox" id="full_name_checkbox" name="full_name_checkbox"
					{% if full_name_checkbox %}
						checked
					{% endif %}>
				<label for="full_name_checkbox">Full Name</label>
				<input type="checkbox" id="phone_number_checkbox" name="phone_number_checkbox"
					{% if phone_number_checkbox %}
						checked
					{% endif %}>
				<label for="phone_number_checkbox">Phone Number</label>
				<input type="checkbox" id="address_checkbox" name="address_checkbox"
					{% if address_checkbox %}
						checked
					{% endif %}>
				<label for="address_checkbox">Address</label>
			</p>
		</form>
		<!-- Table -->
		<div style="display: inline-block; text-align: right;">
			<a href="{% url 'create_user' %}" class="btn btn-primary icon-button">
				<span class="material-icons">person_add</span>
			</a>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover" id="user_table">
					<!-- Header -->
					<thead class="thead-dark">
                        <!-- Row -->
                        <tr>
                        <th scope="col" class="th-clickable">ID</th>
                        <th scope="col" class="th-clickable">Email</th>
                        <th scope="col" class="th-clickable">Full Name</th>
                        <th scope="col" class="th-clickable">Phone Number</th>
                        <th scope="col" class="th-clickable">User Type</th>
                        </tr>
					</thead>
					<!-- For each user -->
					{% for user in object_list %}
						<tr>
							<td><a href="{% url 'edit_user' pk=user.id %}">{{ user.id }}</a></td>
							<td><a href="{% url 'edit_user' pk=user.id %}">{{ user.email }}</a></td>
							<td><a href="{% url 'edit_user' pk=user.id %}">{{ user.full_name }}</a></td>
							<td><a href="{% url 'edit_user' pk=user.id %}">{{ user.phone_number }}</a></td>
							<td><a href="{% url 'edit_user' pk=user.id %}">{{ user.user_type }}</a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

        // Comparer logic lambda. Takes in column index and flips asc each time
        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            // If v1 and v1 is not empty, subtract v2 from v1 and compare value to v2, return a number
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));  //

        // Create a click event listener for all 'th' elements
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');  // Get table element of 'th'
            Array.from(table.querySelectorAll('tbody > tr'))    // Get all 'tr' row elements in 'tbody'
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc =! this.asc))   // Sort with comparer lambda
                .forEach(tr => table.querySelector('tbody').appendChild(tr));   // Append 'tr' row element back to 'tbody'
        })));
	</script>
{% endblock %}