{% extends 'non_home.html' %}

{% block content %}
  <div class="container container-table">
    <h1>Create User</h1>
    <form class="site-form" action="" method="post">
      {% csrf_token %}
      {% include 'field_and_label.html' with id=form.user_type.auto_id    label=form.user_type.label    field=form.user_type    field_errors=form.user_type.errors %}
      {% include 'field_and_label.html' with id=form.email.auto_id        label=form.email.label        field=form.email        field_errors=form.email.errors %}
      {% include 'field_and_label.html' with id=form.password1.auto_id    label=form.password1.label    field=form.password1    field_errors=form.password1.errors %}
      {% include 'field_and_label.html' with id=form.password2.auto_id    label=form.password2.label    field=form.password2    field_errors=form.password2.errors %}
      {% include 'field_and_label.html' with id=form.full_name.auto_id    label=form.full_name.label    field=form.full_name    field_errors=form.full_name.errors %}
      {% include 'field_and_label.html' with id=form.address.auto_id      label=form.address.label      field=form.address      field_errors=form.address.errors %}
      {% include 'field_and_label.html' with id=form.phone_number.auto_id label=form.phone_number.label field=form.phone_number field_errors=form.phone_number.errors %}
      <button type="submit" class="btn btn-primary">Create User</button>
    </form>
  </div>
{% endblock %}