{% extends 'non_home.html' %}

{% block content %}
	<div class="container">
		<h1>Edit user ID: {{ object.pk }}</h1>
		<form method="post">
			{% csrf_token %}
      <a href="{% url 'view_user' pk=object.pk %}" class="btn btn-secondary">View-only</a>
      {% include 'field_and_label.html' with id=form.user_type.auto_id label=form.user_type.label field=form.user_type field_errors=form.user_type.errors %}
      {% include 'field_and_label.html' with id=form.email.auto_id label=form.email.label field=form.email field_errors=form.email.errors %}
      {% include 'field_and_label.html' with id=form.full_name.auto_id label=form.full_name.label field=form.full_name field_errors=form.full_name.errors %}
      {% include 'field_and_label.html' with id=form.address.auto_id label=form.address.label field=form.address field_errors=form.address.errors %}
      {% include 'field_and_label.html' with id=form.phone_number.auto_id label=form.phone_number.label field=form.phone_number field_errors=form.phone_number.errors %}
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
				{% if is_superuser %}
					disabled
				{% endif %}
			>Delete</button>
		</form>
	</div>
  {% include 'modal.html' with title='Delete user' link='delete_user' pk=object.pk button_text='Delete' %}
{% endblock %}