{% extends 'home.html' %}

{% block content %}
  <div class="container">
    <h1>{{ request.user.user_type|title }} home</h1>
    <a href="{% url 'create_medicine' %}" class="btn btn-primary">Add medicine</a>
    <form class="site-form" action="" method="get">
      {% include "search_bar.html" %}
      <p>
        {% include 'search_checkbox.html' with checkbox_id='email_checkbox' is_checked=email_checkbox label='Email' %}
        {% include 'search_checkbox.html' with checkbox_id='full_name_checkbox' is_checked=full_name_checkbox label='Full Name' %}
        {% include 'search_checkbox.html' with checkbox_id='phone_number_checkbox' is_checked=phone_number_checkbox label='Phone Number' %}
      </p>
    </form>
    {% include 'data_table.html' with link='view_patient' %}
  </div>
{% endblock %}

{% block script %}
  {% load static %}
	<script src="{% static 'sort_table_column.js' %}"></script>
{% endblock %}