<p>
  <input type="checkbox" id="id_checkbox" name="id_checkbox"
    {% if id_checkbox %}
      checked
    {% endif %}>
  <label for="id_checkbox">ID</label>
  <input type="checkbox" id="email_checkbox" name="email_checkbox"
    {% if email_checkbox %}
      checked
    {% endif %}>
  <label for="email_checkbox">Email</label>
  <input type="checkbox" id="full_name_checkbox" name="full_name_checkbox"
    {% if full_name_checkbox %}
      checked
    {% endif %}>
  <label for="full_name_checkbox">Full Name</label>
  <input type="checkbox" id="phone_number_checkbox" name="phone_number_checkbox"
    {% if phone_number_checkbox %}
      checked
    {% endif %}>
  <label for="phone_number_checkbox">Phone Number</label>
  <input type="checkbox" id="user_type_checkbox" name="user_type_checkbox"
    {% if user_type_checkbox %}
      checked
    {% endif %}>
  <label for="user_type_checkbox">User Type</label>
</p>
