<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
				<!-- Custom styles -->
				<style>
					.icon-button {
							line-height: 50%;
					}
          .th-clickable:hover {
              cursor: pointer;
          }
				</style>
        <title>Goal Digger's Prescription App</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Prescription App</a>
                {% block home_button %}{% endblock %}
                {% block logout_button %}{% endblock %}
            </div>
        </nav>
        {% block content %}{% endblock %}
				<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
              const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

              // Comparer logic lambda. Takes in column index and flips asc each time
              const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                  // If v1 and v1 is not empty, subtract v2 from v1 and compare value to v2, return a number
                  v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
                  )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));  //

              // Create a click event listener for all 'th' elements
              document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                  const table = th.closest('table');  // Get table element of 'th'
                  Array.from(table.querySelectorAll('tbody > tr'))    // Get all 'tr' row elements in 'tbody'
                      .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc =! this.asc))   // Sort with comparer lambda
                      .forEach(tr => table.querySelector('tbody').appendChild(tr));   // Append 'tr' row element back to 'tbody'
              })));

              $(document).ready(function(){
                  $("#search_query").on("keyup", function() {
                      var value = $(this).val().toLowerCase();
                      var indexColumn = document.querySelector('input[name="search_filter"]:checked').value
                      console.log(indexColumn)
                      $("#user_table tbody > tr").filter(function() {
                          $(this).toggle($(this).children(":eq("+indexColumn+")").text().toLowerCase().indexOf(value) > -1)
                      });
                  });
              });
        </script>
        {% block script %}{% endblock %}
    </body>
</html>