<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" id="user_table">
    <!-- Header -->
    <thead class="thead-dark">
      <!-- Row -->
      <tr>
        {% for title in titles %}
          <th scope="col" class="th-clickable">{{ title }}</th>
        {% endfor %}
      </tr>
    </thead>
    <!-- Data -->
    {% for item_id, item in items %}
      <tr>
        {% for data in item %}
          {% if link %}
            <td><a href="{% url link pk=item_id %}">{{ data }}</a></td>
          {% else %}
            <td>{{ data }}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% empty %}
      <tr>
        {% for _ in titles %}
          <td class="text-muted">Empty</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</div>
