<p>
  <input type="checkbox" id="email_checkbox" name="email_checkbox"
    {% if email_checkbox %}
      checked
    {% endif %}>
  <label for="email_checkbox">Email</label>
  <input type="checkbox" id="full_name_checkbox" name="full_name_checkbox"
    {% if full_name_checkbox %}
      checked
    {% endif %}>
  <label for="full_name_checkbox">Full Name</label>
  <input type="checkbox" id="phone_number_checkbox" name="phone_number_checkbox"
    {% if phone_number_checkbox %}
      checked
    {% endif %}>
  <label for="phone_number_checkbox">Phone Number</label>
</p>
