<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" id="medicine_quantity_table">
    <!-- Header -->
    <thead class="thead-dark">
      <!-- Row -->
      <tr>
        <th scope="col" class="th-clickable">Medicine</th>
        <th scope="col" class="th-clickable">Quantity</th>
        <th scope="col" class="th-clickable">Tablets</th>
        <th scope="col" class="th-clickable">Volume</th>
      </tr>
    </thead>
    <!-- For each user -->
    {% for item in items %}
      <tr>
        <td><a href="{% url link pk=pk med_pk=item.id %}">{{ item.medicine }}</a></td>
        <td><a href="{% url link pk=pk med_pk=item.id %}">{{ item.quantity }}</a></td>
        <td><a href="{% url link pk=pk med_pk=item.id %}">{{ item.medicine__tablets }}</a></td>
        <td><a href="{% url link pk=pk med_pk=item.id %}">{{ item.medicine__volume }}</a></td>
      </tr>
    {% endfor %}
  </table>
</div>
