<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" id="user_table">
    <!-- Header -->
    <thead class="thead-dark">
      <!-- Row -->
      <tr>
        <th scope="col" class="th-clickable">Date</th>
        <th scope="col" class="th-clickable">Doctor</th>
        <th scope="col" class="th-clickable">Pharmacist</th>
        <th scope="col" class="th-clickable">Collected</th>
      </tr>
    </thead>
    <!-- For each user -->
    {% for item in items %}
      <tr>
{#        <td><a href="{% url link pk=item.id %}">{{ item }}</a></td>#}
{#        <td><a href="{% url link pk=item.id %}">{{ item }}</a></td>#}
{#        <td><a href="{% url link pk=item.id %}">{{ item }}</a></td>#}
{#        <td><a href="{% url link pk=item.id %}">{{ item }}</a></td>#}
        <td><a href="{% url link pk=pk med_pk=item.id %}">{{ item.date }}</a></td>
        <td><a href="{% url link pk=pk med_pk=item.id %}">{{ item.doctor }}</a></td>
        <td><a href="{% url link pk=pk med_pk=item.id %}">{{ item.pharmacist }}</a></td>
        <td><a href="{% url link pk=pk med_pk=item.id %}">{{ item.collected }}</a></td>
      </tr>
    {% endfor %}
  </table>
</div>
