<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" id="user_table">
    <!-- Header -->
    <thead class="thead-dark">
      <!-- Row -->
      <tr>
      <th scope="col" class="th-clickable">ID</th>
      <th scope="col" class="th-clickable">Email</th>
      <th scope="col" class="th-clickable">Full Name</th>
      <th scope="col" class="th-clickable">Phone Number</th>
      <th scope="col" class="th-clickable">User Type</th>
      </tr>
    </thead>
    <!-- For each user -->
    {% for user in object_list %}
      <tr>
        <td><a href="
          {% if admin %}{% url 'view_user' pk=user.id %}{% endif %}
          {% if doctor %}{% url 'view_patient' pk=user.id %}{% endif %}
        ">{{ user.id }}</a></td>
        <td><a href="
          {% if admin %}{% url 'view_user' pk=user.id %}{% endif %}
          {% if doctor %}{% url 'view_patient' pk=user.id %}{% endif %}
        ">{{ user.email }}</a></td>
        <td><a href="
          {% if admin %}{% url 'view_user' pk=user.id %}{% endif %}
          {% if doctor %}{% url 'view_patient' pk=user.id %}{% endif %}
        ">{{ user.full_name }}</a></td>
        <td><a href="
          {% if admin %}{% url 'view_user' pk=user.id %}{% endif %}
          {% if doctor %}{% url 'view_patient' pk=user.id %}{% endif %}
        ">{{ user.phone_number }}</a></td>
        <td><a href="
          {% if admin %}{% url 'view_user' pk=user.id %}{% endif %}
          {% if doctor %}{% url 'view_patient' pk=user.id %}{% endif %}
        ">{{ user.user_type }}</a></td>
      </tr>
    {% endfor %}
  </table>
</div>
